.container_pagination {
  margin-bottom: 56px;
  margin-left: 78px;
  max-width: 120px;
  .pageCount {
    font-size: 14px;
    line-height: 18px;
    color: #42567a;
    margin-bottom: 20px;
  }
  .pageCount_btn_group {
    display: flex;
    gap: 20px;
    .pageCount_btn {
      padding: 18.75px 22.5px;
      border-radius: 50%;
      border: 2px solid #42567a;
      background-color: transparent;
    }
  }
}

@media (max-width: 500px) {
  .container_pagination {
    margin-bottom: 0px;
    margin-left: 20px;
    .pageCount {
      margin-bottom: 10px;
    }
    .pageCount_btn_group {
      gap: 8px;
      .pageCount_btn {
        padding: 10px;
        border-radius: 50%;
        border: 2px solid #42567a;
        background-color: transparent;
      }
    }
  }
}
