.years_container {
  margin: 0 auto;
  max-height: 160px;
  padding: 0 215px;
  margin-bottom: 137px;
  .years {
    max-width: 973px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 200px;
    line-height: 160px;
    text-align: center;
    letter-spacing: -0.02em;

    .years_startDate {
      color: #3877ee;
    }
    .years_endDate {
      margin-left: 122px;
      color: #ef5da8;
    }
  }
  &::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    left: 50%;
    border: 1px solid #42567a;
    opacity: 0.1;
  }
  &::after {
    position: absolute;
    display: block;
    content: '';
    top: 49%;
    left: 0;
    width: 100%;
    border: 1px solid #42567a;
    opacity: 0.1;
  }
  ul {
    position: relative;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid rgba($color: #42567a, $alpha: 0.2);
    background: transparent;
    border-radius: 50%;
    width: 530px;
    height: 530px;
    transition: 2s linear;
    .years_text {
      position: absolute;
      width: 6px;
      height: 6px;
      background: #42567a;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      font-size: 20px;
      line-height: 30px;

      &:nth-child(1) {
        top: 50%;
        right: 0%;
      }
      &:nth-child(2) {
        top: 0;
        right: 50%;
      }
      &:nth-child(3) {
        top: 50%;
        right: 100%;
      }
      &:nth-child(4) {
        top: 100%;
        right: 50%;
      }
      &:hover,
      &:active {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 1px solid rgba(48, 62, 88, 0.5);
        text-align: center;
        background-color: white;
        transition: 0.2s;
      }
    }
    .years_active {
      color: #42567a;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px solid rgba(48, 62, 88, 0.5);
      background-color: white;
      overflow: visible;
      font-size: 20px;
      line-height: 30px;
      display: flex;
      align-items: center;
      gap: 20px;
      .years_active_number {
        margin-left: 23px;
      }
      .years_active_title {
        font-weight: 700;
        margin-left: 20px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .years_container {
    padding: 0 100px;
  }
}
@media (max-width: 960px) {
  .years_container {
    padding: 0 100px;
    margin-bottom: 0;
    .years {
      position: relative;
      padding-bottom: 77px;
      max-width: 973px;
      font-weight: 700;
      font-size: 100px;
      line-height: 72px;
      .years_startDate {
        color: #3877ee;
      }
      .years_endDate {
        color: #ef5da8;
        margin-left: 80px;
      }
      &::after {
        position: absolute;
        bottom: 20px;
        left: 0;
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #c7cdd9;
      }
    }
    ul {
      display: none;
    }
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .years_container {
    margin: 0 auto;
    max-height: 73px;
    padding: 0 20px;
    margin-bottom: 78px;
    .years {
      padding-bottom: 78px;
      font-size: 56px;
      line-height: 72px;
      .years_endDate {
        margin-left: 35px;
      }
    }
  }
}
