.container {
  .years_container {
    .year {
      font-size: 25px;
      line-height: 120%;
      text-transform: uppercase;
      color: #3877ee;
    }
    .content {
      font-size: 20px;
      line-height: 30px;
      color: #42567a;
    }
  }
}
