// @import '~@csstools/normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  // &::before {
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   top: 0;
  //   bottom: 0;
  //   left: 50%;
  //   border: 1px solid #42567a;
  //   opacity: 0.1;
  // }
  // &::after {
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   top: 44%;
  //   left: 0;
  //   width: 100%;
  //   border: 1px solid #42567a;
  //   opacity: 0.1;
  // }
}
